<div class="jumbotron mt-3">
    <h1 class="text-center">Welcome To Bug Tracker App</h1>
    <p class="mt-2">This is a bug tracking application where user can add project,add bugs of the project,
    update bug status,assign bug to another user,comment and reply to the bugs.</p>
    <div class="text-center">
        <% if user_signed_in? %>
        <%= link_to "Enter", projects_path, :class=>"btn btn-success text-white" %>
        <% else %>
        <%= link_to "Login", new_user_session_path, :class=>"btn btn-primary text-white" %>
        <% end %>
    </div>
</div>


