<%= form_with model: @project, local: true do |form| %>
 
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@project.errors.count, "error") %> prohibited
          this project from being saved:
        </h2>
        <ul>
          <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, :class => "form-control" %>
    </p>
   
    <p>
      <%= form.submit :class => 'btn btn-success' %>
    </p>
   
  <% end %>