<h1 class="text-center mt-2 text-primary">Listing all Projects </h1>
<div class="d-flex justify-content-end">
    <%= link_to "Add New project", new_project_path ,:class=>"btn btn-success text-white mb-2 " %>
</div>
<table class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>Title</th>
            <th>Bugs Count</th>
            <th>Show Bugs</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @projects.each do |project| %>
            <tr>
                <td><%= project.title %></td>
                <td><%= project.bugs.count %></td>
                <td><%= link_to "Show Bugs",project_bugs_path(project),:class=>"btn btn-success text-white" %></td>
                <td><%= link_to "Show",project_path(project),:class=>"btn btn-primary text-white" %></td>
                <td><%= link_to "Edit",edit_project_path(project),:class=>"btn btn-warning text-white" %></td>
                <% if current_user.admin? %>
                <td><%= link_to 'Delete', project_path(project),
                method: :delete , data: { confirm: 'Are you sure?'},:class=>"btn btn-danger text-white" %></td>
                <% end %>
            </tr>
        <% end %>
    <tbody>
</table>