<div class="mt-2">
<div class="card">
    <h3 class="text-primary card-header">Project Title : <%= @project.title %> </h3>
    <div class="card-body">
        <% if @project.bugs.empty? %>
                <h6 class="text-danger">No Bugs in this project.</h1>
        <% else %>
        <h6 class="text-info">Total Bugs : <%= @project.bugs.count %> </h6>
        <h4 class="text-primary">Bugs List</h4>
        <ul class="list-group">
            <% @project.bugs.each do |bug| %>
                <li class="list-group-item">
                    <%= bug.title %>
                    <span class="d-flex justify-content-end">
                    <%= link_to "Detail", project_bug_path(@project,bug) , :class=>"btn btn-primary" %> 
                    </span>
                </li>
            <% end %>
        </ul>
        <% end %>
    </div>
</div>
<div class="mt-2">
    <%= link_to 'Edit', edit_project_path(@project),:class=>"btn btn-warning text-white" %>
    <%= link_to 'Delete', project_path(@project),
                    method: :delete , data: { confirm: 'Are you sure?'},:class=>"btn btn-danger text-white ml-3" %>
    <%= link_to "Back",projects_path,:class=>"btn btn-secondary text-white ml-3" %>
</div>    
</div>