   
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, :class => "form-control" %>
    </p>

    <p>
      <%= f.label :status %><br>
      <%= f.select :status, ['Pending', 'Complete'], :class => "form-control" %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description, :class => "form-control" %>
    </p>

    <p>
      <%= f.label :assigned_to %><br>
      <%= f.select :assigned_to ,options_for_select(User.all.map {|p| [ p.email, p.email ] }) %>      
    </p>
