<div class="mt-2">
    <h1 class="text-primary text-center">All Bugs </h1>
    <table class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>Bug Title</th>
            <th>Project</th>
            <th>Description</th>
            <th>Status</th>
            <th>Assigned_to</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @bugs.each do |bug| %>
            <tr>
                <td><%= bug.title %></td>
                <td><%= bug.project.title %></td>
                <td><%= bug.description %></td>
                <td><%= bug.status %></td>
                <td><%= bug.assigned_to %></td>
                <td><%= link_to "Show Detail",project_bug_path(bug.project.id,bug),:class=>"btn btn-primary text-white" %></td>
                <td><%= link_to "Edit",edit_project_bug_path(bug.project.id,bug),:class=>"btn btn-warning text-white" %></td>
                <td><%= link_to 'Delete', project_bug_path(bug.project.id,bug),
                method: :delete , data: { confirm: 'Are you sure?'},:class=>"btn btn-danger text-white" %></td>
            </tr>
        <% end %>
    <tbody>
    </table>
</div>