<div class="mt-2">
    <h1 class="text-primary text-center">Showing Bugs of <%= @project.title %> </h1>
    <div class="d-flex justify-content-end">
        <%= link_to "Add New Bug", new_project_bug_path(@project) ,:class=>"btn btn-success text-white mb-2 " %>
        <%= link_to "Back", projects_path ,:class=>"btn btn-secondary ml-2 text-white mb-2 " %>
    </div>
    <table class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Assigned_to</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @project.bugs.each do |bug| %>
            <tr>
                <td><%= bug.title %></td>
                <td><%= bug.description %></td>
                <td><%= bug.status %></td>
                <td><%= bug.assigned_to %></td>
                <td><%= link_to "Show Detail",project_bug_path(@project,bug),:class=>"btn btn-primary text-white" %></td>
                <td><%= link_to "Edit",edit_project_bug_path(@project,bug),:class=>"btn btn-warning text-white" %></td>
                <td><%= link_to 'Delete', project_bug_path(@project,bug),
                method: :delete , data: { confirm: 'Are you sure?'},:class=>"btn btn-danger text-white" %></td>
            </tr>
        <% end %>
    <tbody>
    </table>
</div>