<h1 class="text-center text-primary mt-2">New Bug</h1>

<%= form_for @bug, url: project_bugs_path(@project.id) do |f| %>
    
    <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.bugs.errors.count, "error") %> prohibited
        this project from being saved:
      </h2>
      <ul>
        <% @project.bugs.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= render(:partial => 'form', :locals => {:f => f}) %>  

<%= f.submit "Create Bug", :class=>"btn btn-success" %>
<% end %>


<%= link_to "Back",project_bugs_path , :class => "mt-1 btn btn-secondary text-white" %>