<div class="mt-2">
    <div class="card">
    <h4 class="text-primary card-header">Bug : <%= @bug.title %> </h4>
        <div class="card-body mt-2">
            <p><strong>Description : </strong> <%= @bug.description %></p>
            <p><strong>Assigned To : </strong> <%= @bug.assigned_to %></p>
            <p><strong>Status : </strong> <%= @bug.status %></p>
        </div>
        <div class="card">
            <h5 class="card-header">Comments</h5>
        </div>
    </div>
    <div class="mt-2">
        <%= link_to 'Edit', edit_project_bug_path(@bug.project.id,@bug),:class=>"btn btn-warning text-white" %>
        <%= link_to 'Delete', project_bug_path(@bug.project.id,@bug),
                        method: :delete , data: { confirm: 'Are you sure?'},:class=>"btn btn-danger text-white ml-3" %>
        <%= link_to "Back", :back,:class=>"btn btn-secondary text-white ml-3" %>
    </div>
</div>