<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello! There are <%= @bugs.count %> in my project.</p>
    <h1>Bugs List </h1>
    <table border="1">
        <thead>
            <tr>
							<th>Bug Id</th>
							<th>Bug Title</th>
							<th>Project name</th>
							<th>Assigned To</th>
							<th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% @bugs.each do |bug| %>
                <tr>
									<td><%= bug.id %></td>
									<td><%= bug.title %></td>
									<td><%= bug.project.title %></td>
									<td><%= bug.assigned_to %></td>
									<td><%= bug.status %></td>
                </tr>
            <% end %>    
        </tbody>
    </table>
  </body>
</html>