<!DOCTYPE html>
<html>
  <head>
    <title>BugTrackerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
    <%= render 'common/navbar' %>
    <% flash.each do |key, value| %>
      <div class="mt-1 alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <%= render 'common/footer' %>
  </div>
  </body>
</html>
